body{
   font-family: 'Ubuntu', sans-serif;
}
#block-body{
    width: auto;
    height: auto;
    margin: 0;
}
#block-header{
    width: auto;
    height: 60px;
}
#block-category{
    width: auto;
    height: auto;
    text-align: center;
    border-top: 1px solid #E1E3DF;
    border-bottom: 1px solid #E1E3DF;
    
}
#block-slider{
    width: auto;  
    height: 250px;
    border: 1px solid black;
    margin: 10px 20px 0 20px;
    
}
#block-about{
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 20px 20px 0 20px;
}
#block-new-products{
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 20px 20px 0 20px;
}
#block-popular{
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 20px 20px 0 20px;
}
#block-img-category{
    width: auto;
    height: 150px;
    border: 1px solid black;
    margin: 20px 20px 0 20px;
}

#block-up{
    width: auto;
    height: 50px;
    margin: 20px 0 0 0;
    background-color: #485769;
}
#block-contacts{
    width: auto;
    height: 200px;
    background-color: #232F3E;
}
#authors{
    width: auto;
    height: 150px;
    background-color: #131A22;
}
#header-top-menu li{
    font: 20px sans-serif;
    float: left;
    padding: 10px 20px;
    margin: 8px 0;
}
input[type=text], select {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    display: inline;
    float: left;
}
#block-top-menu-right{
    display: table;
    width: auto;
    height: 60px;
    float: right;
}
#block-top-menu-right ul{
    display: table-cell;
    vertical-align: middle;
}
#block-top-menu-right ul li{
    display: inline;
    margin: 10px;
}
#block-top-menu-right ul a{
    border: 1px solid;
    border-radius: 3px;
    color: #E55400;
    font-size: 14px;
    padding: 8px;
    text-decoration: none;
}
#block-max-width{
    margin: 0 auto;
    max-width: 1330px;
/*    border: 1px solid black;*/
    padding: 0 auto 0 auto;
}

#block-category ul{
    vertical-align: middle;
    margin: 10px auto;
}
#block-category ul li{
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;
    
}
#block-category ul li a{
    text-decoration: none;
    color: #525252;
}
#block-category ul a:hover{
    text-decoration: none;
    color: #E55400;
    padding-bottom: 8px;
    border-bottom: 2px solid #E55400;
}




